/* Общий стиль */
html,body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0F1115;
}

#calendar {
    width: 95%;
    max-width: 1000px;
    max-height: 800px;
    margin: 20px auto;
    background: #353940;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #f2f4f8;
    padding: 10px;
    border: 5px;
}

.fc-daygrid {
    border: none !important;
}
.fc-view-harness-passive {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

.fc-theme-standard .fc-scrollgrid {
    border: none;
}


.fc .fc-scrollgrid{
    border: none;
}

.fc-scrollgrid td:last-child,
.fc-scrollgrid th:last-child {
    border-right: none !important;
    border-bottom: none !important;
}

/* Убираем сетку */
.fc .fc-daygrid-day, .fc .fc-daygrid-day-frame {
    border: none;
    background: none;
}

/* Круглые номера дней */
.fc .fc-daygrid-day-number {
    width: 20vw;
    height: 20vw;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  auto;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    line-height: 1 !important;  /* важно для центрирования текста */

    font-size: clamp(24px, 4vw, 36px);   /* ограничение сверху */
}

.fc .fc-daygrid-day-frame {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 30px !important;


}

/* Сегодняшний день */
.fc .fc-day-today .fc-daygrid-day-number {
    border: 2px solid #7CFF6B;
    background: transparent;
    color: #E8FFF0;
    align-items: center;
}

/* Убираем фон самой ячейки */
.fc .fc-day-today {
    background: transparent !important;
}
.fc .fc-day-today::before {
    background: none !important;
}


.fc .fc-toolbar-title {
    font-size: clamp(36px, 3vw, 48px); /* минимум 18px, максимум 36px, адаптивно */
}

.fc-col-header-cell {
    font-size: clamp(18px, 3vw, 42px);
    font-weight: 600; /* обычный вес */
    text-align: center;
    border: none !important;
    background: transparent;
}

/* Отступ между заголовком дней недели и датами */
.fc-col-header {
    padding-bottom: 20px; /* уменьшено с 100px до разумного значения */
}


/* Подсветка выбранной даты */
.selected-date {
    background: #111417 !important;
    border: 2px solid #7CFF6B !important;
    color: #F2F4F8 !important;
}

/* Маленький кружок с количеством упражнений */
.exercise-count {
    display: block;
    margin-top: 4px;
    font-size: 0.7em;
    text-align: center;
    color: #333;
}

/* Ответ с упражнениями */
#response {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: clamp(24px, 4vw, 36px);;
}

.fc-toolbar-chunk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* убираем фон кнопок */
.fc-button-primary {
    background: transparent !important;
    border: none !important;
    color: white !important;
    font-size: clamp(16px, 3vw, 28px) !important;
}


.fc-button-primary:hover,
.fc-button-primary:active,
.fc-button-primary:focus {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: clamp(16px, 3vw, 28px) !important;
    outline: none !important;     /* убираем outline */
}

.fc-toolbar .fc-button {
    border-radius: 50% !important;       /* полностью круглые */
    background: none;      /* цвет кнопки */
    color: white !important;             /* цвет текста */
    width: 30vw;
    height: 30vw;
    max-width: 50px;
    max-height: 50px;                        /* высота */
    padding: 0;                           /* убираем внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}


.fc-toolbar .fc-button:active {
    box-shadow: 0 6px 12px rgba(207, 207, 207, 100);
}


.calendar-title {
    text-align: center;      /* выравнивание по центру */
    font-size: clamp(36px, 3vw, 48px); /* адаптивный размер */
    margin-top: 20px;        /* отступ сверху */
    margin-bottom: 15px;     /* отступ снизу */
    font-weight: 500;        /* если нужно не жирный */
    color: white;          /* цвет текста */
}

.training-day {
    background:#7CFF6B;
    color:#0F1115;
    box-shadow:0 0 8px #7CFF6B;
}

.line {
    width:250px;
    height: 3px;
    background: #ddd;
    margin: 10px auto;
}
