/* Общий стиль */
html,body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0F1115;
}

#calendar {
    width: 95%;
    max-width: 390px;
    max-height: 390px;
    margin: 5px auto;
    background: #353940;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #f2f4f8;
    padding: 5px;
    border: 5px;
}

element.style {
    height: 390px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 3px;
}

.fc-daygrid {
    border: none !important;
}
.fc-view-harness-passive {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

.fc-theme-standard .fc-scrollgrid {
    border: none;
}


.fc .fc-scrollgrid{
    border: none;
}

.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
    padding-top: 0px;
}

.fc-scrollgrid td:last-child,
.fc-scrollgrid th:last-child {
    border-right: none !important;
    border-bottom: none !important;
}

/* Убираем сетку */
.fc .fc-daygrid-day, .fc .fc-daygrid-day-frame {
    border: none;
    background: none;
}

/* Круглые номера дней */
.fc .fc-daygrid-day-number {
    width: 10vw;
    height: 10vw;
    max-width: 35px;
    max-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    line-height: 1 !important;  /* важно для центрирования текста */

    font-size: clamp(12px, 4vw, 18px);
}

.fc .fc-daygrid-day-frame {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 0px !important;


}

/* Сегодняшний день */
.fc .fc-day-today .fc-daygrid-day-number {
    border: 2px solid #7CFF6B;
    background: transparent;
    color: #E8FFF0;
    align-items: center;
}

/* Убираем фон самой ячейки */
.fc .fc-day-today {
    background: transparent !important;
}
.fc .fc-day-today::before {
    background: none !important;
}


.fc .fc-toolbar-title {
    font-size: clamp(15px, 3vw, 18px);
}

.fc-col-header-cell {
    font-size: clamp(12px, 3vw, 18px);
    font-weight: 600; /* обычный вес */
    text-align: center;
    border: none !important;
    background: transparent;
    margin-top: -15px;
}

/* Отступ между заголовком дней недели и датами */
.fc-col-header {
    padding-bottom: 0px;
}


/* Подсветка выбранной даты */
.selected-date {
    background: #111417 !important;
    border: 2px solid #7CFF6B !important;
    color: #F2F4F8 !important;
}

/* Кружок с количеством упражнений */
.exercise-count {
    display: block;
    margin-top: 0px;
    font-size: 0.7em;
    text-align: center;
    color: #333;
}



.fc-toolbar-chunk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* убираем фон кнопок */
.fc-button-primary {
    background: transparent !important;
    border: none !important;
    color: white !important;
    font-size: clamp(16px, 3vw, 28px) !important;
}


.fc-button-primary:hover,
.fc-button-primary:active,
.fc-button-primary:focus {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: clamp(16px, 3vw, 28px) !important;
    outline: none !important;     /* убираем outline */
}

.fc-toolbar .fc-button {
    border-radius: 50% !important;       /* полностью круглые */
    background: none;      /* цвет кнопки */
    color: white !important;             /* цвет текста */
    width: 15vw;
    height: 15vw;
    max-width: 15px;
    max-height: 15px;                        /* высота */
    padding: 0;                           /* убираем внутренние отступы */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease;
}

.fc .fc-button .fc-icon {
    font-size: 22px;
}

.fc-toolbar .fc-button:active {
    box-shadow: 0 6px 12px rgba(207, 207, 207, 100);
}


.calendar-title {
    text-align: center;      /* выравнивание по центру */
    font-size: clamp(24px, 3vw, 36px); /* адаптивный размер */
    margin-top: 0;        /* отступ сверху */
    margin-bottom: 0;     /* отступ снизу */
    font-weight: 500;        /* если нужно не жирный */
    color: white;          /* цвет текста */
}

.training-day {
    background:#7CFF6B;
    color:#0F1115;
    box-shadow:0 0 8px #7CFF6B;
}

/* Ответ с упражнениями */
#response {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.line {
    width:250px;
    height: 3px;
    background: #ddd;
    margin: 10px auto;
}

.exercise-table {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    column-gap: 10px;
}

.exercise-row {
    display: contents;
}

.exercise-type {
    text-align: right;
    color: white;
    font-size: clamp(16px, 3vw, 24px);
}

.exercise-count {
    text-align: left;
    color: white;
    font-size: clamp(16px, 3vw, 24px);
}


